PORT=5000
MONGO_URI="your_mongodb_connection_string"
JWT_SECRET="your_jwt_secret"
USER_SERVICE=http://localhost:5001

# Cloudinary Configuration
Cloud_Name="your_cloudinary_cloud_name"
Api_Key="your_cloudinary_api_key"
Api_Secret="your_cloudinary_api_secret"
